@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body {
  overflow-x: hidden;
  background-color: black;
}

body::before {
  content: "";
  display: block;
  height: 0px;
}
